mixin newTweet()
	h1.title New Tweet
	form(action="/tweets/new", method="POST")
		.field
			.control
				input.input(name="tweet")
		.field
			.control
				button.button.is-link.is-fullwidth Create Tweet
