extends ../layout

block title
	='Twitter - Sign Up'

block content
	h1.title Sign Up
		form(action="/users", method="POST")
			.field
				.control
					input.input(name="username")
			.field
				.control
					input.input(type="password", name="password")
			.field
				.control
					button.button.is-link.is-fullwidth Sign Up